In [1]:
# Import
import pandas as pd
from sqlalchemy import create_engine

database_path = "../da_job_data.sqlite"

In [2]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [3]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM da_data", conn)

In [4]:
# Preview the Data
data.head()

   id                             title        company_name          location
0   1                             title        company_name          location
1   2                      Data Analyst          Applicantz          Anywhere
2   3  Data Analyst I (Remote Optional)        Talentify.io          Anywhere
3   4                   Data Analyst II        EDWARD JONES  Whiteman AFB, MO
4   5                      Data Analyst  Rose International     United States

In [5]:
# closing the database connection
conn.close()