In [3]:
# Import
import pandas as pd
from sqlalchemy import create_engine

database_path = "../da_job_data.sqlite"

In [4]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [7]:
# Query All Records in the the Database
datadf = pd.read_sql("SELECT * FROM da_data", conn)

In [8]:
# Preview the Data
datadf.head()

,id,title,company_name,location,via,description,work_from_home,salary_hourly,salary_yearly,salary_standardized
0,1,title,company_name,location,via,description,work_from_home,salary_hourly,salary_yearly,salary_standardized
1,2,Data Analyst,Applicantz,Anywhere,via LinkedIn,Open to work on W2 or on Corp-to-Corp (for vis...,TRUE,,,
2,3,Data Analyst I (Remote Optional),Talentify.io,Anywhere,via LinkedIn,Talentify helps candidates around the world to...,TRUE,,,
3,4,Data Analyst II,EDWARD JONES,"Whiteman AFB, MO",via Monster,"At Edward Jones, we help clients achieve their...",,,,
4,5,Data Analyst,Rose International,United States,via Indeed,Position Title\nPosition Number\nLocation...\n...,,,,

In [9]:
datadf['title'].count()

10498

In [2]:
# closing the database connection
conn.close()

NameError: name 'conn' is not defined